.App {
  text-align: center;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.dntac {
  font-weight: 500;
}
.dntac a {
  text-decoration: none;
  color: aquamarine;
  font-weight: 500;
  cursor: pointer;
}
.dntac span :active {
  color: blue;
}
.passwordbtn {
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 27px;
  color: aqua;
}
.craouseimg {
  margin-top: 33px;
  width: 100%;
  margin: auto;
  height: 56vh;
  object-fit: cover;
  position: relative;
  top: 12px;
}
.main-container {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
}
.catomain {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.card {
  width: 250px;
  margin: auto;
}

.content {
}
.card img {
  width: 200px;
  object-fit: fill;
  margin: auto;
}
.maincrouser {
  width: 100%;
}
.innercraouser {
  width: 50%;
  margin: auto;
}
